# MongoDB Configuration
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_CLUSTER_NAME=my_mongodb_cluster_name
MONGODB_USERNAME=my_mongodb_user
MONGODB_PASSWORD=my_mongodb_password

# MySQL Configuration
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE_OLTP=my_mysql_database
MYSQL_DATABASE_DW=
MYSQL_USER=my_mysql_user
MYSQL_PASSWORD=my_mysql_password